
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Template
// remove borders on .panel and .alert
.panel, .alert {
    border: none;
}

// Guest
// Login on the navbar
.inline-login {
    .form-inline {
        margin-top: 6px;
    }
}

// Viewer
// List Group Item background color
$dark-grey: #32383e;
.list-group-item {
    background-color: $dark-grey;
}

// Profile Photo
.profile-photo {
    margin: 0 auto;
    width: 100px;

    img {
        background-color: #fff;
    }
}

// Page 1
// placeholder for the video
$video-placeholder-min-width: 480px;
$video-placeholder-min-height: 360px;

.video {
    .placeholder_video {
        min-width: $video-placeholder-min-width;
        min-height: $video-placeholder-min-height;
        background-color: #fff;
    }

    .placeholder_info {
        .panel-heading {
            padding-top: 0;
            padding-bottom: 0;

            .btn-video {
                padding: 0;

                button {
                    width: 100%;
                    height: 100%;
                }
            }

            .user-icon {
                img {

                }
            }
        }
    }
}

.tab-pane {
    padding-top: 1em;
}
