
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Template
// remove borders on .panel and .alert
.panel, .alert {
    border: none;
}

// Page 1
// placeholder for the video
$video-placeholder-min-width
.video {
    .placeholder_video {
        min-width: 480px;
        min-height: 240px;
        background-color: #fff;
    }

    .placeholder_info {
        .panel-heading {
            padding-top: 0;
            padding-bottom: 0;

            .btn-video {
                padding: 0;

                button {
                    width: 100%;
                    height: 100%;
                }
            }

            .user-icon {
                img {

                }
            }
        }
    }
}
